[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 12.0

[submodule "OCA/server-backend"]
	path = OCA/server-backend
	url = git@github.com:OCA/server-backend.git
	branch = 12.0

[submodule "rlfss/mit"]
	path = rlfss/mit
	url = git@github.com:rlfss/mit.git
	branch = master

[submodule "rlfss/mit1"]
	path = rlfss/mit1
	url = git@github.com:rlfss/mit.git
	branch = master

[submodule "OCA/hr"]
	path = OCA/hr
	url = git@github.com:OCA/hr.git
	branch = 12.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 12.0

[submodule "OCA/crm"]
	path = OCA/crm
	url = git@github.com:OCA/crm.git
	branch = 12.0

[submodule "OCA/l10n-spain"]
	path = OCA/l10n-spain
	url = git@github.com:OCA/l10n-spain.git
	branch = 12.0

[submodule "OCA/bank-payment"]
	path = OCA/bank-payment
	url = git@github.com:OCA/bank-payment.git
	branch = 12.0

[submodule "OCA/storage"]
	path = OCA/storage
	url = git@github.com:OCA/storage.git
	branch = 12.0

[submodule "OCA/queue"]
	path = OCA/queue
	url = git@github.com:OCA/queue.git
	branch = 12.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 12.0

[submodule "OCA/connector"]
	path = OCA/connector
	url = git@github.com:OCA/connector.git
	branch = 12.0

[submodule "OCA/multi-company"]
	path = OCA/multi-company
	url = git@github.com:OCA/multi-company.git
	branch = 12.0

[submodule "OCA/account-closing"]
	path = OCA/account-closing
	url = git@github.com:OCA/account-closing.git
	branch = 12.0

[submodule "OCA/management-system"]
	path = OCA/management-system
	url = git@github.com:OCA/management-system.git
	branch = 12.0

[submodule "OCA/account-reconcile"]
	path = OCA/account-reconcile
	url = git@github.com:OCA/account-reconcile.git
	branch = 12.0
